.main-cont{
  background-color: rgb(190, 190, 242);
  margin-top: 300px;
  margin-right: 500px;
  margin-left: 100px;
  border-radius: 20px solid;
  width: 600px;
  height: 400px;
  text-align: center;
}

.start{
  border-radius: 5px ;
  size: 10px ;
  margin-top: 150px;
}

.first-page{
  background-color: rgb(190, 190, 242);
  margin-top: 300px;
  margin-right: 500px;
  margin-left: 100px;
  border-radius: 20px solid;
  width: 600px;
  height: 400px;
 text-align:justify;
 
}
.pre-btn{
  border-radius: 5px ;
  size: 10px ;
  margin-top: 150px;
  margin-left: 50px;
}
.next-btn{
  border-radius: 5px ;
  size: 10px ;
  margin-top: 150px;
  margin-left: 400px;
}
